{% extends "base.html" %}

{% block content %}
<title>Project Details</title>

<a href="/project" class="btn btn-light btn-sm mb-4">Go Back</a>
<h1>{{details.project_title}}</h1>
<div>
	{{details.project_description}}
</div>
<hr>
<small>Written on {{details.project_time}} by {{details.user}}</small>
<hr>

{% if details.user == user %}
<a href="edit/{{details.project_id}}"><button class="btn btn-primary float-left mr-3">Edit</button></a>
<a href="bids/{{details.project_id}}"><button class="btn btn-primary float-left">Bids</button></a>
<form action="{% url 'project:delete' details.pk %}" action="POST">
	{% csrf_token %}
	<button class="btn btn-danger float-right">Delete</button>
</form>
{% else %}
<a href="add-bids/{{details.project_id}}"><button class="btn btn-success float-right run">Apply for this
		Project</button></a>
{% endif %}

{% endblock %}
