{% extends 'base.html' %}

{% block title %}
View Profile
{% endblock %}

{% block content %}
<h1 class="text-center">Profile</h1>
<hr>
<div class="row mb-5">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://www.windstream.com/getmedia/b2e4e38a-7cb6-4ca9-9544-54dfeaca6304/icon_user-circle.png.aspx?width=1920&height=1280&ext=.png"
                class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">{{ user }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Firstname: {{ user.first_name }}</li>
                <li class="list-group-item">Lastname: {{ user.last_name }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Phone: {{ other.phone }}</li>
                {% if other.cv == "No" %}
                <li class="list-group-item">CV: <a href="#"><legend style="font-size: medium;">No CV Found</legend></a></li>
                {% else %}
                <li class="list-group-item">CV:<a href="{{other.cv.url}}" class="btn btn-primary btn-sm ml-3">Download
                        CV</a>
                </li>
                {% endif %}
            </ul>
            {% if other.user == user %}
            <div class="card-body">
                <a href="{% url 'user:edit_profile' %}" class="card-link"><button class="btn btn-primary"> Edit
                    Profile</button></a>
                    <form method="POST" enctype="multipart/form-data" class="card-link float-right"
                    action="{% url 'user:delete_profile' user.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit"> Delete Profile </button>
                </form>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-8">
        You have an awesome creator inside you, who will change the way people use mobiles and computers.
        Be a part of an evolution.
    </div>
</div>
{% endblock %}