{% extends "base.html" %}

{% block content %}

<title>Message</title>

<div class="chat-page">
    <div class="msg-inbox">
        <div class="chats">
            <div class="msg-page">
                {% for msg in message %}
                    {% if msg.sender_id == request.user.id %}
                    <div class="outgoing-chats">
                        <div class="outgoing-chats-label">
                            <a href="">{{msg.sender}}:</a>
                        </div>
                        <div class="outgoing-chats-msg">
                            <p>{{msg.message}}</p>
                            <span class="time">{{msg.created}}</span>
                        </div>
                    </div>                    
                    {% else %} 
                    <div class="received-chats">
                        <div class="received-chats-label">
                            <a href="">{{msg.sender}}:</a>
                        </div>
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <p>{{msg.message}}</p>
                                <span class="time">{{msg.created}}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <form method="POST" action="{% url 'message:create_message' %}" class="message-input">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control float-left" name="message" style="max-width: 1000px;">
            <button type="submit" class="btn btn-primary float-right" style="margin-right: 75px;">Submit</button>
        </div>
    </form>

{% endblock %}
